---
layout: default
rbar:
  - twitter
description: >
---

{% include homepage/banner.html
   link='/radnice/'
   title='Radnice'
   default='header/komunal-banner-large.png'
   mobile='header/komunal-banner-small.png'
   breakpoint=640
%}

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading t-h1-super">Zachraň soukromí!</h1>
        </header>
        
        <p class="lead">Vláda předkládá kontroverzní novelu zákona o vojenském zpravodajství</p>
        <p>Tato novela by umožnila Vojenskému zpravodajství instalovat blíže nespecifikované "nástroje detekce" u poskytovatelů internetu a dále blíže nespecifikované "aktivní zásahy" rozvědčíků na internetu.</p>
        <p>Piráti, ICT unie, hospodářská či advokátní komora a občanský sektor namítají, že zákon je paskvil v rozporu s ústavou, listinou základních práv a svobod a evropským právem.</p>        


        <h2>Vojenské zpravodajství v 1. čtení</h2>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v9.0&appId=158578041222226&autoLogAppEvents=1" nonce="2ujnjJRq"></script>


        <div class="fb-video" data-href="https://www.facebook.com/piratFranta/videos/774293239807562/" data-show-text="false" data-width=""><blockquote cite="https://developers.facebook.com/piratFranta/videos/774293239807562/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/piratFranta/videos/774293239807562/">Vojenské zpravodajství v 1. čtení</a><p>🕵️ Daří se nám postupně vylepšovat novelu zákona o Vojenském zpravodajství! Vyvažujeme zákon tak, aby nás zpravodajská služba naší armády mohla efektivně bránit v kyberprostoru a zároveň nebyla zneužitelná ke šmírování občanů či zaklekávání na poskytovatele internetového připojení. 

        V chystaném pozměňovacím návrhu také chceme nastavit jasné mantinely tzv. aktivním zásahům a posílit parlamentní (a tedy veřejnou) kontrolu činnosti Vojenského zpravodajství. Ještě není dobojováno, ale je to na dobré cestě! 💪 

        Naše připomínky a snažení v posledních letech jsem shrnul dnes na plénu sněmovny při projednávání v prvním čtení. 👇</p>Zveřejnil(a) <a href="https://www.facebook.com/piratFranta/">František Kopřiva</a> dne Středa 7. října 2020</blockquote></div>

        <h2>Aktuálně</h2>

        {% for article in site.posts limit: 6 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        <div class="c-article-listing__nextbox">
          <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
        </div>
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    <br>
    <img src="/assets/img/miscellaneous/school-ring.png" />
    <h2>Stav k 7. 10. 2020</h2>
    <ul>
      <li>Vojenské zpravodajství v 1. čtení <a href="https://fb.watch/2jpmj_TC46/">video FB</a></li>
      <li>Otevírá se novela zákona o vojenském zpravodajství v prvním čtení.</li>
      <li>Zákon byl <a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="https://www.psp.cz/sqw/historie.sqw?o=8&T=800" rel="external nofollow noreferrer" target="_blank">předložen do sněmovny</a>.</li>
      <li>Naše <a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="/pripominky">připomínky</a> k aktuální verzi stále trvají.</li>
      <li>Dosavadní postup Pirátů naleznete <a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="/casova-osa">zde</a></li>
    </ul>
    
    <h2>Další články</h2>
    <ul>
      <li><a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="https://www.lidovky.cz/domov/armadni-spioni-maji-branit-cesky-internet-na-vladu-miri-novela-zakona-o-vojenskem-zpravodajstvi-posi.A200113_211738_ln_domov_ele" target="_blank">Armádní špioni mají bránit český internet</a> - lidovky.cz 14.1.2020</li>
      <li><a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="https://a2larm.cz/2020/03/pod-svicnem-tma-do-vlady-jde-zakon-o-vojenskem-zpravodajstvi/" rel="external nofollow noreferrer" target="_blank">Pod svícnem tma. Vláda schválila zákon o Vojenském zpravodajství</a> - a2larm.cz 17.3.2020</li>
      <li><a class="c-emphasized-anchor u-stacked" style="text-decoration: underline;" href="https://www.irozhlas.cz/veda-technologie/technologie/rozvedka-zakon-odposlech-soukromi-kyberneticka-bezpecnost-ransomware-viry_2005311505_cib" rel="external nofollow noreferrer" target="_blank">Zákon o vojenském zpravodajství míří do sněmovny, kritici se bojí o soukromí i bezpečnost sítí</a> - irozhlas.cz 31.5.2020</li>
    </ul>
    
    <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/ondrej_profant/lists/vojensk-zpravodajstv?ref_src=twsrc%5Etfw">A Twitter List by ondrej_profant</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
